@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url(https://images.pexels.com/videos/4049827/----4049827.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
}


div {
    padding: 60px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 30%;
    margin: 0 auto;
    border-radius: 20px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #ef233c;
}

#save-btn {
    background: #38a3a5;
}

